.flex-box-home {
    font-size: 40px;
}

.p {
    color: rgb(20, 160, 216);
}

.image {
    background-image: url("https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif");
}

.powered {
    color: rgb(94, 94, 94);
}