.navbar-logo {
    position: absolute;
    color: aliceblue;
    outline: none;
    text-decoration: none;
    top: 2%;
    left: 15px;
}

.navbar-info {
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    outline: none;
    top: 2%;
    left: 42%;
}

.navbar-begin {
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    outline: none;
    top: 2%;
    left: 48%;
}
.navbar-graph {
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    outline: none;
    top: 2%;
    left: 58%;
}

.tt {
    color: rgb(20, 160, 216);
}